[user]
    #email = 936394+xychu@users.noreply.github.com
	email = xychu2008@gmail.com
	name = Xiangyang Chu
[alias]
	st = status
	ci = commit
	ca = commit --amend
	co = checkout
	br = !git --no-pager branch
	df = diff
	dc = diff --cached
    slg = !git --no-pager log --pretty=oneline --no-merges
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[http]
	cookiefile = /home/ethanchu/.gitcookies
